################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COVID19Tracker
/COVID19Tracker/obj
/COVID19Tracker.Android/obj
/COVID19Tracker.Android/.DS_Store
/COVID19Tracker.Android/._.DS_Store
/COVID19Tracker.iOS/obj
/.DS_Store
/._.DS_Store
/._COVID19Tracker.sln
/COVID19Tracker/bin/Debug/netstandard2.0
/COVID19Tracker.Android/bin/Debug
/COVID19Tracker.iOS/bin/iPhoneSimulator/Debug
